## Basic Data Science packages
numpy
scipy
pandas
xlrd
pandas-profiling
pandasql  # For SQL like queries on pandas dataframes
patsy  # For R like linear formula generator
fancyimpute  # Various data imputation functions
statsmodels
scikit-learn
mord # Ordinal regression algorithms
imbalanced-learn # ML algorithms for imbalanced datasets
xgboost
lightgbm
distance # For various distance functions
dill==0.2.8.2
tqdm
progressbar2==3.37.1
hyperopt  # Bayesian optimization for hyper-parameter tuning

# Network-Analysis
graphviz
# networkx

# Visualization-Packages
matplotlib==3.0.3
seaborn==0.9.0
plotly

# Jupyter-Notebook
jupyterlab
nbconvert  # Required to setup Export to PDF in Jupyter
ipykernel  # Required to setup kernel correctly for Jupyter
ipywidgets
imagesize
nb2xls  # export to excel files

# Deep-Learning
tensorflow
# tensorflow-gpu

# Web-Server-Tools
Django
Flask

# NLP
nltk
spacy
# python-frog
unidecode
symspellpy
fuzzywuzzy
beautifulsoup4

# Advanced-Scientific-Computing
Cython
numba  # Automatic translation of python functions to JIT compiler executable machine code for performance
line_profiler