beautifulsoup4
dill
distance
fake-useragent
fuzzywuzzy
hdbscan
ipython
ipywidgets
joblib
matplotlib
nltk
numba
numpy
openpyxl
pandas
parse
progressbar2
pyppeteer>=0.0.14
pyquery
pyspark>=2.4.0,<3.0.0
pyyaml
requests
scikit-learn
scipy
seaborn
statsmodels
urlclustering
w3lib